.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: bisque;
}

.title {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    background-color: chocolate;
    height: 80vh;
}